body {
  background-size: cover;
  background-image: url('drug-background.jpg');
  height: 100vh;
}

#logo {
  height: 100px;
  width: 200px;
}
.left-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.left-column .section-1 .left-column .section-2 {
  flex: 1;
}
.button {
  margin-left: 20px;
}
.information {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  background-color: rgb(163, 210, 225);
  border: none;
  padding: 50px 50px 50px 50px;
}